/!DOCTYPE html.txt
/.history
/2023-04-03 00-53-36.mp4
/2023-04-03 00-54-33.mp4
/2023-04-04 13-17-17.mp4
/Adobe Premiere Pro Audio Previews
/Adobe Premiere Pro Auto-Save
/Adobe Premiere Pro Video Previews
/bavbar-1 create and style navbar.mp4
/final.png
/image.jpg
/Main.mp4
/Motion Graphics Template Media
/navbar -5 final .mp4
/navbar-2 search bar and login ipation.mp4
/navbar-3 create responsive code part .mp4
/navbar-4 making dropdown menu.mp4
/navbar.prproj
/Responsive Navbar
/Screenshot 2023-04-04 145702.jpg
/Screenshot 2023-04-04 150422.jpg
/Screenshot 2023-04-04 150917.jpg
/Screenshot 2023-04-04 155510.jpg
/Screenshot 2023-04-04 155729.jpg
/Screenshot 2023-04-04 155826.jpg
/Screenshot 2023-04-04 155858.jpg
/Screenshot 2023-04-04 161003.jpg
/search final.mp4
/Untitled.txt